snippet nmain "Python main" bA

if __name__ == "__main__":
	$0

endsnippet


snippet pheaders "Pyton headers" bA

__copyright__ = 'Copyright (c) 2017. Storinet. All Rights Reserved.' + \
                'This is proprietary software.'
__author__ = 'Nathaniel D Alcedo Jr'

endsnippet
